/* Custom property declarations */

:root {
    --grey-950: #1D2026;
    --grey-500: #69707D;
    --grey-300: #C3CAD9;
    --grey-100: #E4E9F2;
    --grey-50: #F6F8FD;
    --orange-500: #FF7E1B;
    --orange-300: #FFAB6A;
    --white: #FFFFFA;
    --black: #000000;
    --font-family: 'Kumbh Sans', sans-serif;
    --font-weight-bold: 700;
    --letter-spacing-accent: 0.125rem;
    --spacing-100: 0.5rem;
    --spacing-200: 1rem;
    --spacing-300: 1.5rem;
    --spacing-400: 2rem;
    --spacing-500: 2.5rem;
    --spacing-600: 3rem;
    --spacing-700: 3.5rem;
    --spacing-900: 4.5rem;
    --spacing-1000: 5rem;
    --spacing-1200: 6rem;
    --spacing-1300: 6.5rem;
    --spacing-1600: 8rem;
    --mobile: 375px;
    --desktop: 1440px;
}